{% extends 'baseNEW.html.twig' %}

{% block title %}Contacto - Equipamiento Grafico
{% endblock %}


{% block meta %}
	<link rel="stylesheet" type="text/css" href="/css/cssNotIndexNEW.css" media="all">
{% endblock %}


{% block body %}
	<main>
		<div class="container mt-5">
			<div class="row container-fluid">
				<div class="col-xl-3 col-md-8">
					<img src="/img/contacto/Carlos.jpeg" alt="Carlos A. Gonzalez" class="img-thumbnail">
				</div>
				<div class="col-xl-8 col-md-12">
					<blockquote class=" blockquote">
						<p class="mb-0">Somos una empresa Argentina dedicada a la venta de todo tipo de máquinas gráficas.
																																                    Estamos en el mercado desde el año '90 llevando más de 30 años comprometidos con nuestros clientes generando así confianza y satisfacción.
						</p>
					</br>
					<p class="mb-0">
						Nuestro equipo está preparado para atender las consultas de nuestros clientes y orientarlos en los equipamientos más adecuados para la realización de sus trabajo.
					</p>
					<footer class="blockquote-footer">Equipamiento Grafico de
						<cite title="Source Title">Carlos A. Gonzalez</cite>
					</footer>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
