/* .index .nav>li>a {
          color: black !important;
}

.h4 {
          font-size: 12px !important;
          text-transform: uppercase;
          font-weight: 700 !important;
          transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s !important;
          color: #000 !important;
          letter-spacing: 2px !important;
} */