<div
	class="our-features-box">
	{# Footer #}
	<footer>
		<div class="footer-inner">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-xs-12 col-lg-8">
						<div class="social">
							<h4>Redes Sociales en las que estamos</h4>
							<ul class="link">
								<li class="fb">
									<a href="#"></a>
								</li>
								<li class="youtube">
									<a href="#"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="col-sm-12 col-xs-12 footer-logo"><img alt="Datson" src="images/logo.png"></div>
				<address>
					<i class="fa fa-map-marker"></i>ThemesGround, 789 Main rd, Anytown, CA 12345  USA
					<i class="fa fa-mobile"></i>
					<span>
						+(888) 123-4567</span>
					<i class="fa fa-envelope"></i>
					<span>
						superb@themesground.com</span>
				</address>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-xs-12 coppyright">&copy; 2016 ThemesGround. All Rights Reserved.</div>

				</div>
			</div>
		</div>
	</footer>
</div>
